notebook

introduction

data science languages

- Python
- R
- SQL
- Julia
- Scala

data science libraries

- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch

data science tools

| Tool           | Description                               |
|----------------|-------------------------------------------|
| Python         | General-purpose programming language       |
| R              | Statistical programming language           |
| SQL            | Language for managing relational databases |

arithmetic expression examples

In [2]:
2+3

5

In [3]:
2*3

6

In [4]:
2-3

-1

In [5]:
6/2

3.0

Multiply two numbers

In [6]:
num1 = 5
num2 = 3
result_multiply = num1 * num2
print("Multiplication result:", result_multiply)

Multiplication result: 15

Add two numbers

In [7]:
num3 = 10
num4 = 7
result_addition = num3 + num4
print("Addition result:", result_addition)

Addition result: 17

Convert minutes to hours

In [8]:
minutes = 150
hours = minutes / 60
print("Minutes:", minutes)
print("Hours:", hours)

Minutes: 150
Hours: 2.5

The objectives of this notebook are as follows:

1. Learn the basics of Jupyter Notebook and its features.
2. Understand the usage of markdown cells for documentation and explanations.
3. Familiarize with data science languages such as Python and R.
4. Explore popular data science libraries and their functionalities.
5. Gain hands-on experience with arithmetic expressions and basic calculations.
6. Convert minutes to hours using simple mathematical operations.
7. Learn how to share your notebook through GitHub.
8. Take a screenshot of the notebook to showcase your work.

Author

This notebook was authored by Aditya Aryan.